@import "@styles/vars";

.link {
  &.active {
    color: $white;
    background-color: $primary-color;
    box-shadow: 4px 4px 8px rgb($primary-color, 0.5);
    padding: 10px 30px;
    border-radius: 35px;

    &:hover {
      @apply scale-x-110;
    }
  }
}
