$black: #000;
$ultramarine: #120a8f;
$white: #fff;
$heavy-metal: #1e1f1d;
$silver: #c8c8c8;
$iron: #d4d7dc;

$primary-color: $ultramarine;
$primary-color-text: $heavy-metal;
$dark-theme-color: $heavy-metal;
