@import "@styles/vars";

.toggle_mode_btn {
  background: transparent;
  border: none;
}

.svg {
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.moon,
.sun {
  transition: 0.5s ease;
}

.moon {
  &:hover {
    path {
      fill: $primary-color;
    }
    transform: rotate(40deg);
  }
}

.sun {
  &:hover {
    transform: rotate(360deg);
  }
}
