@keyframes bgAnimation {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1.5);
  }
}

.bg {
  transform: translate(-30%, -50%) rotate(-7.23deg);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(150px);
}

.animation {
  animation: bgAnimation 6s infinite linear alternate;
}
