@import "@styles/vars";

.tabs {
  :global {
    .ant-tabs-tab {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  &.dark {
    :global {
      .ant-tabs-tab {
        font-weight: 500;
        color: $white;
      }
    }
  }
}
