@import "@styles/vars";

.btn {
  height: auto;
  width: auto;
  padding: 1.5rem 5rem;
  border-radius: 12px;
  background-color: $primary-color;
  color: $white;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 2px 10px 0 #c8c8c8;
  transition: box-shadow 0.25s, background-color 0.1s;
  border: 2px solid transparent;

  &.ghost {
    background-color: transparent;
    color: inherit;

    &:hover {
      border-color: $primary-color;
    }
  }

  &.primary {
    &:hover {
      background-color: $primary-color;
      filter: brightness(120%);
      color: $white;
      box-shadow: 0 2px 28px 0 #d4d7dc;
    }
  }

  &:focus {
    background-color: rgba($primary-color, 0.1);
    box-shadow: 0 0 0 1px $primary-color;
    outline: 0;
    transition: none;

    &:hover {
      background-color: rgba($primary-color, 0.2);
    }

    &:active {
      box-shadow: 0 0 0 2px $primary-color;
      background-color: rgba($primary-color, 0.2) !important;
      transition: box-shadow 0.25s;
    }
  }
}
