@import "styles/vars";

.headerDesktop {
  backdrop-filter: saturate(180%) blur(24px);
}

.headerDesktop,
.headerMobile {
  background-color: rgba($white, 0.3);
}

.headerMobile {
  box-shadow: -8px 3px 22px -3px rgba($black, 0.19);
  transition: transform 0.5s ease;
}

.headerDark {
  background-color: $dark-theme-color;
}

.headerDarkTransparent {
  background-color: rgba($dark-theme-color, 0.3);
}

.headerFixed {
  @apply fixed top-0 right-0 left-0 z-30;
  box-shadow: 0px 7px 16px -10px rgba(34, 60, 80, 0.2);
}
