@import "fonts-connect";
@import "@styles/vars";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a,
input,
button,
select,
textarea {
  &:focus {
    outline: 2px solid $primary-color !important;
  }
}
